# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Machine Learning
# =========================
*.pt
*.pth
*.onnx
*.weights
*.ckpt

# =========================
# Datasets
# =========================
data/
datasets/

# =========================
# Environment & Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp